<!doctype html>
<html AMP lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- title %> <%- city %> <%- state %></title>

    <link rel="canonical" href="https://joblog.app/<%- url %>">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <meta name="Description" content="Employer: <%- company %>, City: <%- city %>, State: <%- state %>">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <!-- only one style tag is allowed, and it must have an "amp-custom" attribute -->
    <style amp-custom>
    body {
      background-color: white;
      font-family: Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 0;
      color: #4d5763;
    }

    .button {
      border-radius: 4px;
      moz-border-radius: 4px;
      webkit-border-radius: 4px;
      height: 40px;
      width: 130px;
      background-color: #007dad;
      cursor: pointer;
      vertical-align: middle;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .button:focus {
      background-color: #6fff4a;
      outline: 1px dotted rgb(51, 51, 51);
      outline-offset: 2px;
    }


    .button:hover {
      background-color: #6fff4a;
    }

    a {
      color: white;
      text-decoration: none;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
    }

    a:focus {
      color:#222;
    }

    a:hover {
      color:#222;
    }

    a:active {
      color:rgb(251, 255, 0);
    }

    .textIndent {
      margin: 0px 0px 0px 10px;
    }

    .topMargin {
      margin: 20px 0px 0px 0px;
    }

    .topMarginIndent {
      margin: 20px 0px 0px 10px;
    }

    .centerContent {
      margin:0 auto;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 1 1 auto;
    }

    .jobTitle {
      margin: 10px 0px 6px 10px;
      font-size: 1.6rem;
    }

    .topSpacer {
      height: 40px;
    }

    .topLocation {
      margin: 0px 0px 10px 10px;
      font-size: 1.1rem;
    }

    .thinLine {
      border-bottom: 1px solid rgba(228,228,228,1);
    }

    .rightLine {
      border-left: 1px solid rgba(228,228,228,1);
      width: 15%
    }

    .posted {
    }

    .flexRow {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .apply {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .daysAgo {
      font-weight: bold;
    }

    .jobBody {
      flex: 1 1 auto;
    }
    </style>

    <script type="application/ld+json">
    <%- gsd %>
    </script>

    <!-- this style tag is required -->
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
  </head>
  <body>
    <div class="centerContent">
      <div class="topSpacer"></div>
      <main>
        <div class="jobTitle"><%- title %></div>
        <div class="topLocation"><%- city %>, <%- state %></div>
        <div class="thinLine"></div>
        <div class="flexRow">
          <div class="posted topMarginIndent">Posted:</div>
          <div class="daysAgo topMargin"><%- timeAgo %></div>

            <a class="apply button topMargin" href="<%- apply_url %>" >
              Apply
            </a>


          <div class ="rightLine"></div>
        </div>

        <div class="jobBody topMarginIndent">
          <%- body %>
        </div>


          <a class="apply button topMargin" href="<%- apply_url %>" >
            Apply
          </a>

        <br/><br/><br/><br/>
      </main>
    </div>
  </body>
</html>
