<!doctype html>
<html AMP lang="en">
  <head>
    <meta charset="utf-8" name="<%- title %>" content="Employer: <%- company %>,City: <%- city %>,State: <%- state %>, Zipcode: <%- zip %>, Country: <%- country %>">
    <title><%- title %> Job in <%- location %></title>
    
    <!-- We need to change the href to point to the page!! -->
    <link rel="canonical" href="https://render-dot-starspawn-201921.appspot.com/">

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <!-- only one style tag is allowed, and it must have an "amp-custom" attribute -->
    <style amp-custom>
      body {
        background-color: white;
      }
    </style>

    <script type="application/ld+json"> {
      "@context" : "http://schema.org/",
      "@type" : "JobPosting",
      "title" : "Fitter and Turner",
      "description" : <%- JSON.stringify(body) %>,
      "identifier": {
        "@type": "PropertyValue",
        "name": "MagsRUs Wheel Company",
        "value": "1234567"
      },
      "datePosted" : "2017-01-18",
      "validThrough" : "2017-03-18T00:00",
      "employmentType" : "CONTRACTOR",
      "hiringOrganization" : {
        "@type" : "Organization",
        "name" : "MagsRUs Wheel Company",
        "sameAs" : "http://www.magsruswheelcompany.com",
        "logo" : "http://www.example.com/images/logo.png"
      },
      "jobLocation" : {
        "@type" : "Place",
        "address" : {
          "@type" : "PostalAddress",
          "streetAddress" : "555 Clancy St",
          "addressLocality" : "Detroit",
          "addressRegion" : "MI",
          "postalCode" : "48201",
          "addressCountry": "US"
        }
      },
      "baseSalary": {
        "@type": "MonetaryAmount",
        "currency": "USD",
        "value": {
          "@type": "QuantitativeValue",
          "value": 40.00,
          "unitText": "HOUR"
        }
      }
    }
    </script>

    <!-- this style tag is required -->
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
  </head>
  <body>
    <h1><%- title %></h1>
    <h2><a href="<%- url %>">Apply</a></h2>
    Job Description: <%- body %>;<br />
    Location: <%- location %><br />
    <%- city %>, <%- state %><br />
    <%- zip %> <%- country %><br />
    "posted_at" <%- posted_at %><br />
    "company" <%- company %>
  </body>
</html>
